

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}




.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}


.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item + .header__item{
    margin-left: 82px;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    transition: all 0.3s;
   
   
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;

}


.intro{
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 263px;

}

.intro__title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 22px;
}

.intro__subtitle{
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 59px;
}

.search__form {

}
.search__form-info {
    display: flex;
    flex-wrap: wrap;
}
.search__form-field {
    background-color: transparent;
    background: url(../img/krug.svg) no-repeat left 6px;
    background-size: 20px;
    border:0;
    border-bottom: 3px solid #BFC0C5;
    margin-right: 60px;
    padding-bottom: 22px;
    padding-left: 44px;
    width: 297px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;

}

.search__form-field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: #fff;

}
.search__form-submit {
    background-color: #1B7DFF;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 50px;
    border: 0;
    

}

.search__form-submit:hover,
.search__form-submit:active,
.search__form-submit:target{
    background-color: #02295d;
    color: #b6a1a1;

}



